page-register {
  .wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    background: #FFE716;
    -webkit-align-items: center;
    align-items: center;
    .image-wrapper {
      background-image: url("/assets/img/logo/logo-gagaotalk.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 250px;
      margin-bottom: 30px;
    }
    .form-wrapper {
      .input {
        background: white;
      }
    }
  }
}
