page-memo-list {
  .content {
    background: #f4f4f4;
  }
  .card-header {
    font-weight: 600;
  }
  .card-content {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .searchbar-md .searchbar-input {
    background-color: #3D2E34;
    border-radius: 25px;
    color: white;
    &:focus {
      background-color: white;
      color: #141414;
    }
  }
}
