
page-chatting-room {
  .content {
    background-color: #AFC0D0;
  }
  .toolbar-md {
    color: #141414;
  }
  .chats {
    display: flex;
    flex-direction: column;
    .chat {
      display: flex;
      margin-bottom: 3px;
      .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      .content {
        margin-left: 6px;
        .name {
          font-size: 0.9em;
        }
        .message {
          position: relative;
          font-size: 1.1em;
          padding: 5px 7px 5px 7px;
          border-radius: 3px;
        }
      }
      .time {
        margin: 0 3px 0 3px;
        font-size: 0.4em;
        color: #343434;
        align-self: flex-end;
      }
    }

    .me {
      flex-direction: row-reverse;
      .message {
        background: #F7E600;
      }
    }

    .you {
      flex-direction: row;
      .message {
        background: white;
      }
    }
  }

}
