// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  google:     #db3236,
  facebook:   #3b5998,
  brown:    #41362F,
  light-brown: #4A3E36,
  grey: #DFDFDF,
  yello: #DEC804,
  light-yello: #F7E600,
  light-blue: #B8C7D8,
  light-blue2: #B6C5D7,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-color-active: #4A3E36;
$tabs-ios-tab-color-inactive: #D4D3D3;
$tabs-ios-tab-icon-size: 2.5rem;
$tabs-ios-tab-min-height: 48px;
$tabs-ios-background: #F9F8F8;
$list-ios-header-min-height: 2rem;
$list-ios-header-font-size: 1.2rem;
$label-ios-margin-bottom: 0;
$label-ios-margin-top: 0;
$toolbar-ios-title-text-color: black;
$toolbar-ios-text-color: black;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$tabs-md-tab-color-active: #4A3E36;
$tabs-md-tab-color-inactive: #D4D3D3;
$tabs-md-tab-icon-size: 2.5rem;
$tabs-md-tab-min-height: 48px;
$tabs-md-background: #F9F8F8;
$list-md-header-min-height: 2rem;
$list-md-header-font-size: 1.2rem;
$label-md-margin-bottom: 0;
$label-md-margin-top: 0;
$searchbar-md-input-box-shadow:0;
$toolbar-md-title-text-color: black;
$toolbar-md-text-color: black;
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
