page-chat-list {
  .chat-photo {
    background-image: url("https://lh6.googleusercontent.com/-iWAvmXvYN6c/AAAAAAAAAAI/AAAAAAAAAtk/fRNUmme7zqc/photo.jpg"), url("https://lh6.googleusercontent.com/-iWAvmXvYN6c/AAAAAAAAAAI/AAAAAAAAAtk/fRNUmme7zqc/photo.jpg");
    background-size: 19px;
    background-position: left, right;
  }
  .unread {
    background: red;
    color: white;
    border-radius: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.4rem;
    margin-top: 3px;
    display: inline-block;
  }
  .status {
    font-size: 1.5rem;
    color: #898989;
  }
  .searchbar-md .searchbar-input {
    background-color: #41362F;
    border-radius: 25px;
    color: white;
    &:focus {
      background-color: white;
      color: #141414;
    }
  }
}
