page-profile {
  .scroll-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin-top: 0 !important;
  }
  .profile-background {
    flex: 2;
    background-image: url("/assets/img/background/background-6.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    .profile-comment {
      position: absolute;
      color: white;
      top: 50%;
      text-align: center;
      width: 100%;
      font-size: 2.2rem;
    }
    .profile-photo {
      position: absolute;
      width: 100px;
      height: 100px;
      background-image: url("/assets/img/avatar/default-person.png");
      background-position: center;
      background-size: cover;
      bottom: -20px;
      left: calc(50% - 50px);
    }
  }
  .profile-description {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    .profile-name {
    }
    .profile-email, .profile-phone {
      margin: 3px;
      padding: 3px;
      color: #7c7c7c;
      border: solid 0.5px #cdcdcd;
    }
    .profile-buttons {
      display: flex;
      display: -webkit-flex;
      flex: 1;
      padding-top: 20px;
      .profile-button {
        flex: 1;
        min-width: 80px;
        text-align: center;
        p {
          margin: 0;
        }
      }
    }
  }
}
